<h1>会員情報編集</h1>
<%= form_with model: @customer, url:  update_customers_path, method: :patch do |f| %>
<tr>
 <th><label for="inputName">氏名</label></th>
  <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
</tr>
<tr>
  <th><label for="inputName_kana">フリガナ</label></th>
  <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
</tr>
<tr>
  <th><label for="inputPostal_code">郵便番号</label></th>
  <td><%= f.text_field :postal_code %></td>
</tr>
<tr>
   <th><label for="inputAddress">住所</label></th>
  <td><%= f.text_field :address %></td>
</tr>
<tr>
 <th> <label for="inputTelephone_number">電話番号</label></th>
 <td><%= f.text_field :telephone_number %></td>
</tr>
<tr>
 <th> <label for="inputEnail">メールアドレス</label></th>
 <td><%= f.text_field :email %></td>
</tr>
  <td><%= f.submit "変更を保存" %></td>
   <td><%= link_to "退会する",  unsubscribe_customers_path %></td>
  <% end %>