<!DOCTYPE html>
<html>
  <head>
    <tn><title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %></tn>
  </head>

  <body>
     <header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>logo</span></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
        <ul class="navbar-nav ml-auto">
          <!--顧客側-->
          <% if customer_signed_in? %>
           <table class="table">
           <tr>
           <td>
            <%= link_to customers_url,class:"nav-link text-light" do %>
            <i class="fas fa-home"></i> マイページ
            <% end %>
           </td>
           <td>
            <%= link_to items_url,class:"nav-link text-light" do %>
            <i class="fas fa-home"></i> 商品一覧
            <% end %>
           </td>
           <td>
            <%= link_to cart_items_url,class:"nav-link text-light" do %>
            <i class="fas fa-home"></i> カート
            <% end %>
           </td>
           <td>
            <%= link_to destroy_customer_session_url,method: :delete, class:"nav-link text-light" do %>
            <i class="fas fa-home"></i> ログアウト
            <% end %>
           </td>
          </tr>
          </table>
          <!--管理者側-->
          <% elsif admin_signed_in? %>
          <table class="table">
        <tr>
          <td>
            <%= link_to admin_items_url,class:"nav-link text-light" do %>
            <i class="fas fa-home"></i> 商品一覧
            <% end %>
          </td>
          <td>
             <%= link_to  admin_customers_url ,class:"nav-link text-light" do %>
            <i class="fas fa-link"></i> 会員一覧
             <% end %>
         </td>
          <td>
             <%= link_to admin_homes_top_url,class:"nav-link text-light" do %>
            <i class="fas fa-user-plus"></i> 注文履歴
             <% end %>
          </td>
          <td>
            <%= link_to admin_genres_url,class:"nav-link text-light" do %>
          <i class="fas fa-sign-in-alt"></i> ジャンル一覧
            <% end %>
          </td>
          <td>
            <%= link_to destroy_admin_session_url,method: :delete, class:"nav-link text-light" do %>
          <i class="fas fa-sign-in-alt"></i> ログアウト
            <% end %>
          </td>
        </tr>
      </table>
          <% else %>
      <table class="table">
        <tr>
          <td>
            <%= link_to homes_about_path do %>
           <i class="fas fa-home"></i> About
            <% end %>
          </td>
          <td>
               <%= link_to items_path,class:"nav-link text-light" do %>
               <i class="fas fa-items"></i> 商品一覧
               <% end %>
          </td>
          <td>
             <%= link_to  new_customer_registration_path,class:"nav-link text-light" do %>
            <i class="fas fa-new-customer"></i> 新規登録
             <% end %>
            </td>
          <td>
            <%= link_to new_customer_session_path,class:"nav-link text-light" do %>
            <i class="fas fa-sign-out-alt"></i> ログイン
            <% end %>
            </td>
            <% end %>
          </tr>
        </table>
        </ul>
      </div>
    </div>
  </nav>
  </header>
    <%= yield %>
    </div>
  </div>
  </body>
</html>

<!--コンテナー-->
